<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel War</title>
    
    <script>
    // Les données sont injectées par le serveur
    const pixelsBdd = <%- JSON.stringify(pixels) %>;
    </script>
    <script src="javascripts/grid-script.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

</head>
<body>

    <div class = "containerTop">
        <div class="containerTopTittle">
            <h1>Pixel War</h1>
            <div id="pseudo" data-message="<%= pseudo %>"><%= pseudo %></div>
        </div>
        <div class=containerTopPower data-count = <%= power %> data-time = <%= time%> id ="containerTopPower"></div>
    </div>

    <div class="container" id = 'container'>
        <canvas id="pixelCanvas"></canvas>
        <div class="bubble" id="bubble"></div>

        <div class="containerBottom">
            <div class="color-grid" id="color-grid"></div>
        </div>  
        <a href="/credits">Crédit</a>
    </div>
</body>
</html>