<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel War</title>
    
    <script>
    // Les données sont injectées par le serveur
    const pixelsBdd = <%- JSON.stringify(pixels) %>;
    const popup = <%- JSON.stringify(popup) %>;
    const pseudo = <%- JSON.stringify(pseudo) %>;
    </script>

</head>
<body>
    <div class="background", id='bgGoogle'></div>
    <div class = "containerTop">
        <div class="containerTopTittle">
            <h1>Prochain raid :</h1>
            <h2 id="nextRaid"> <%= nextRaid %></h2>
        </div>

    </div>

    <div class="container" id = 'container'>
        <canvas id="pixelCanvas"></canvas>
        <div class="bubble" id="bubble"></div>

        <div class="containerBottom">
            <div class="color-grid" id="color-grid"></div>
            <div class="animation" id="animation">
                <div class=containerPower data-count = <%= power %> data-time = <%= time%> id ="containerPower"></div>
            </div>
        </div>  
        <a href="/utils">Crédit</a>
    </div>
    <script src="javascripts/grid-script.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>